@media (max-width: 768px) {

    .section-padding {
        padding: 20px;
    }

    .section-title {
        height: 40px;
    }

    .sub-heading {
        height: 30px;
    }

    .content-padding {
        padding-top: 20px;
    }

    /* Nav Bar */
    nav {
        position: static;
        /* top: 0;
        z-index: 100; */
    }

    .menu-bar {
        display: block;
    }

    .links-group {
        display: none;
        flex-direction: column;
        gap: 25px;
        background-color: transparent;
        backdrop-filter: blur(5px);
        border: 3px solid var(--surface-color);
        border-radius: 5px;
        width: 40%;
        align-items: center;
        padding: 10px 0;
        transform: translateX(50vw) translateY(21vh);
    }

    .links-group.active {
        transform: translateX(5vw);
    }

    .links {
        display: inline-block;
    }

    /* Hero/Home section */

    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        overflow: scroll;
    }

    .hero-image {
        flex: 1;
        width: auto;
        margin-bottom: 20px;
    }

    .hero-image img {
        border: var(--image-border);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: var(--image-shadow);
        background-color: #0a03372c;
        backdrop-filter: blur(5px);
    }

    .hero-content {
        flex: 2;
    }

    .hero-buttons {
        gap: 15px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 15px;
    }

    /* About section */

    .about-image {
        display: none;
    }

    .about-content p,
    .about-work li {
        width: 285px;
        font-size: 15px;
        font-weight: 300;
    }

    /* projects */

    .project-card {
        max-height: 320px;
        gap: 20px;
        overflow-y: scroll;
    }

    .project-image {
        height: auto;
    }

    .project-image img {
        width: 100%;
        height: 100%;
    }


    .project-content {
        font-size: 14px;
    }

    .project-tech-stack {
        justify-content: center;
        gap: 8px;
    }

    /* Contact section */

    .contact-info a{
        margin-left: 20px;
    }

    .contact-inputs{
        display: flex;
        flex-direction: column;
    }

    .submit-btn{
        align-self: center;
    }
}