@media (max-width: 700px) {

    html {
        scroll-padding-top: 10px;
    }


    .section-title {
        height: 40px;
    }

    .sub-heading {
        height: 30px;
    }

    .content-padding {
        padding-top: 20px;
    }

    /* Side-menu */

    .side-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .side-menu-activator {
        width: 50px;
        height: 50px;
        border-radius: 999px;
        align-self: flex-end;
        position: fixed;
        right: 3%;
        top: 3%;
        z-index: 1000;
    }

    .side-menu-activator img {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
        transition: transform 0.5s var(--smooth-transition);
        transform: rotateY(360deg) rotate(0);
    }

    .side-menu-activator img.active{
        transform: rotateY(180deg);
        box-shadow: 0 0 10px #ff4646;
    }

    .side-menu-links {
        background-color: var(--surface-color);
        width: 200px;
        height: 100vh;
        padding-top: 30%;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        z-index: 900;
        opacity: 0;
        transform: translateX(200px);
        transition: transform 0.5s var(--smooth-transition), opacity 0.5s var(--smooth-transition);
    }

    .side-menu-links.active {
        transform: translateX(0);
        opacity: 1;
    }

    /* Nav Bar */
    nav {
        display: none;
    }

    .links-group.active {
        transform: translateX(5vw);
    }

    .links {
        display: inline-block;
    }

    /* Hero/Home section */

    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        overflow: scroll;
    }

    .hero-image {
        flex: 1;
        width: 60%;
        max-width: 280px;
        margin-bottom: 20px;
    }

    .hero-image img {
        border: var(--image-border);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: var(--image-shadow);
        background-color: #0a03372c;
        backdrop-filter: blur(5px);
    }

    .hero-buttons {
        gap: 15px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 15px;
    }

    /* About section */

    .about-image {
        display: none;
    }

    .about-content p,
    .about-work li {
        width: 100%;
        font-size: 15px;
        font-weight: 300;
    }

    /* projects */

    .project-card {
        gap: 20px;
    }

    .project-image {
        height: auto;
    }

    .project-image img {
        width: 100%;
        height: 100%;
    }


    .project-content {
        font-size: 14px;
    }

    .project-tech-stack {
        justify-content: center;
        gap: 8px;
    }

    /* Contact section */

    .contact-info a {
        margin-left: 20px;
    }

    .contact-inputs {
        display: flex;
        flex-direction: column;
    }

    .submit-btn {
        align-self: center;
    }
}